.top-nav {
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-bottom: 5px solid #272362
}

.active {
    border-bottom: 3px solid #D20000
}

.tri-card {
    height: 100%;
}

.main {
    padding: 8.5px;
}

.nav-item:hover {
    border-bottom: 3px dashed #D20000
}

.card-title {
    color: #272362;
    border-bottom: 3px solid #272362;
    padding-bottom: 3px;
}

.card {
    border: 0px;
}

.no-space {
    margin: 0px;
}

h2 {
    margin-left: 38.25px;
    margin-right: 38.25px;
    color: #D20000;
    border-bottom: #D20000 3px solid;
}

.show {
    display: block;
}

.hide {
    display: none;
}